<%- include('./partials/header.ejs') %>
<body>
    <div class="container">
        <h1>Internal Dashboard</h1>
        <p>Welcome to the internal dashboard. Here you can manage your books and authors.</p>
    </div>

</body>